<a href="https://colab.research.google.com/github/Salma-123/recommendation-system/blob/main/recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

In [1]:
from google.colab import files
uploaded = files.upload()

Saving demographic_details.csv to demographic_details.csv
Saving user-data.csv to user-data.csv
Saving user-item.csv to user-item.csv

In [5]:
#store the data
df = pd.read_csv('user-data.csv')
#show the first three row of data
df.head(3)

   user_id  item_id  rating  timestamp
0      186      302       3  891717742
1       22      377       1  878887116
2      244       51       2  880606923

In [7]:
#Get a count of the number of rows/colums in movies
df.shape

(99999, 4)

In [8]:
#store the data
df = pd.read_csv('demographic_details.csv')
#show the first three row of data
df.head(3)

   User id  age gender  occupation zip code
0        2   53      F       other    94043
1        3   23      M      writer    32067
2        4   24      M  technician    43537

In [9]:
columns = ['User id','age','gender','occupation']

In [10]:
#show the data
df[columns].head(3)

   User id  age gender  occupation
0        2   53      F       other
1        3   23      M      writer
2        4   24      M  technician

In [11]:
#check for any missing values in the important columns
df[columns].isnull().values.any()

False